@import '~iview/src/styles/index.less';
//封装table header后fixed left right出现置顶的情况
.packageTable .ivu-table-fixed,.packageTable .ivu-table-fixed-right{
  top:48px !important;
}
.packageTable .ivu-table-title{
  height: 48px!important;
  line-height: normal !important;
}
@menu-dark-title: #001529;
@menu-dark-active-bg: #000c17;
@layout-sider-background: #001529;

.ac_card .ivu-card-body{
  height: 100%;
}
//必填的星号显示与否
.hasRequireClass label:before{
  content: " "!important;
}
.w-full {
  width: 100% !important;
}

.p-t-m {
  padding-top: 10px !important;
}

.p-b-m {
  padding-bottom: 10px !important;
}

.m-b-10{
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}
/**
tabs
 */
.qdd_tabs_bar_bottom .ivu-tabs-bar{
  margin-bottom: 0 !important;
}
/***表格间距**/
.packageTableTdPadding .ivu-table-cell{
  padding-left:5px !important;
  padding-right: 5px !important;
}
.expandRowTable .ivu-table-expanded-cell{
  padding:0 !important;
}
.expandRowTable .ivu-table-overflowX{
  overflow-x: hidden !important;
}


.ivu-table .demo-table-info-row td{
  background-color: #495060;
  color: #fff;
}
.ivu-table .demo-table-error-row td{
  background-color: #495060;
  color: #fff;
}

.showTextFlow >p{
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//多级modal
.moreModalZIndex .ivu-modal-mask,.moreModalZIndex .ivu-modal-wrap{
  z-index:10005 !important;
}
.ivu-modal-confirm-footer{
  margin-top:10px!important;
}

.base_header{
  background: none;
  height: 64px;
  line-height: 64px;
  color:red;
}
.new_customer_table_wrapper{
  margin-top:10px;
}
.b-m-20 {
  margin-bottom: 20px;
}
.base_btn_item{
  margin-right: 8px;
}

.w-full {
  width: 100% !important;
}

.p-t-m {
  padding-top: 10px !important;
}

.p-b-m {
  padding-bottom: 10px !important;
}

.m-b-10{
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.ivu-form-inline .ivu-form-item {
  margin: 0;
  padding-left: 8px;
  padding-right: 8px;
}
.qdd_down_btn{
  margin-right: 8px;
  color: #fff;
  background-color: #2d8cf0;
  border-color: #2d8cf0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 6px 15px;
  font-size: 12px;
  border-radius: 4px;
  transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
}
/***表格间距**/
.new_customer_table_wrapper .ivu-table-cell{
  padding-left:5px !important;
  padding-right: 5px !important;
}

.ivu-table .demo-table-info-cell-NextFollowupDate {
  background-color: red;
  color: #fff;
}
.ivu-table .demo-table-info-cell-invitationTime-curr{
  background-color: red;
  color: #fff;
}
.ivu-table .demo-table-info-cell-invitationTime {
  background-color: yellow;
  color: #495060;
}
.addUserModal .ivu-modal-mask,.addUserModal .ivu-modal-wrap{
  z-index:10005 !important;
}

